.question-overview-container {
  display: flex;
  flex-flow: column;
  height: calc(85% - 40px);
  padding: 20px;
  width: calc(15vw + 20px);
  border-radius: 8px;
  margin-top: auto;
  margin-bottom: 20px;
  align-self: flex-end;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.question-overview {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.question-list {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  > p {
    transition: background-color 0.2s ease-in-out;
    font-size: 16px;
    border-radius: 50%;
    width: calc(((15vw + 20px) / 5) - 15px);
    height: calc(((15vw + 20px) / 5) - 15px);
    display: flex;
    color: white;
    background-color: rgb(188, 188, 188);
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
}

.question-list p:hover {
  background-color: var(--primary-blue-color);
  cursor: pointer;
}

.current {
  background-color: var(--primary-blue-color) !important;
}

.wrong {
  background-color: #f1392fd1 !important;
}

.correct {
  background-color: #80bb41d1 !important;
}
